.AdContent {
    height: 200px;
/*    background-color: white;*/
}


@media only screen and (max-width: 500px) {
    .AdContent {
        height: 75px;
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

    .scrolling-wrapper .scrolling-card {
        display: inline-block;
    }

.scrolling-wrapper-flexbox {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

    .scrolling-wrapper-flexbox .scrolling-card {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

.scrolling-card {
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

    .scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
        display: none;
    }

.mapItem {
    width: 100%;
    transition: 0.5s;
    display: block;
    background-color: white;
    border-radius: 5px;
}

    .mapItem:hover {
        cursor: pointer;
    }


.mapItem-img {
    background-color: white;
    height: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 215px;
    float: left;
    border-radius: 3px;
}

.mapItem-name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 0px;
    margin-right: -10px;
    padding-top: 6px;
    color: #696969;
    padding-bottom: 6px;
}
.mapItem-details-container {
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    border-radius:5px;
    padding: 6px;
    padding-left:15px;
    color: #e91e63;
    margin-left: 215px;
    min-height:145px;
}

.mapItem-more-details {
    text-align: left;
    padding: 6px;
    padding-left: 6px;
    padding-top:0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 500px) {

    .mapItem-name {
        font-size: 12px;
        padding-bottom: 5px !important;
    }

    .mapItem-img {
        width: 135px;
        height: 98px;
        border-radius: 5px 5px 0px 0px;
    }
    .mapItem-details-container {
        font-size: 10px;
        margin-left: 135px;
        min-height: 98px;
        padding-left:6px;
    }

    .mapItem-more-details {
        border-radius: 0px 0px 5px 5px;
    }
}


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

    .page_404 img {
        width: 100%;
    }

.four_zero_four_bg {
    background-image: url(/img/Err404.gif);
    height: 400px;
    background-position: center;
}


    .four_zero_four_bg h1 {
        font-size: 80px;
    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}