.AdContent {
    height: 200px;
/*    background-color: white;*/
}


@media only screen and (max-width: 500px) {
    .AdContent {
        height: 75px;
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

    .scrolling-wrapper .scrolling-card {
        display: inline-block;
    }

.scrolling-wrapper-flexbox {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

    .scrolling-wrapper-flexbox .scrolling-card {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

.scrolling-card {
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

    .scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
        display: none;
    }

.mapItem {
    width: 100%;
    transition: 0.5s;
    display: block;
    background-color: #99d9ff;
    border-radius: 5px;
}

    .mapItem:hover {
        cursor: pointer;
    }


.mapItem-img {
    background-color: #99d9ff;
    height: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 215px;
    float: left;
    border-radius: 5px;
}

.mapItem-name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 0px;
    margin-right: -10px;
    padding-top: 6px;
    color: #000;
    padding-bottom: 6px;
}
.mapItem-details-container {
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    border-radius:5px;
    padding: 6px;
    padding-left:15px;
    color: #e91e63;
    margin-left: 215px;
    min-height:145px;
}

.mapItem-more-details {
    text-align: left;
    padding: 6px;
    padding-left: 6px;
    padding-top:0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mons-img {
    height: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 215px;
    border-radius: 3px;
}
.testItem-details-container {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px;
    padding-left: 15px;
    color: #000;
    margin-left: 225px;
    min-height: 155px;
    font-size:1.3rem !important;
}

.testItem-img {
    background-color: transparent;
    height: 155px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 225px;
    float: left;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {

    .mapItem-name {
        font-size: 12px;
        padding-bottom: 5px !important;
    }

    .mapItem-img {
        width: 110px;
        height: 98px;
        border-radius: 5px 5px 0px 0px;
    }
    .mapItem-details-container {
        font-size: 10px;
        margin-left: 110px;
        min-height: 98px;
        padding-left:6px;
    }

    .mapItem-more-details {
        border-radius: 0px 0px 5px 5px;
    }
    .mons-img {
        width: 140px;
        height: 98px;
    }
    .testItem-details-container {
        font-size: 10px;
        margin-left: 120px;
        min-height: 115px;
        padding-left: 6px;
    }
    .testItem-img {
        width: 120px;
        height: 115px;
    }
}


.testendimg {
    width: 70vh;
    height: 70vh;
}

@media (max-width: 600px) {
    .testendimg {
        width: 100vw;
        height: 100vw;
    }
}


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

    .page_404 img {
        width: 100%;
    }

.four_zero_four_bg {
    background-image: url(/img/Err404.gif);
    height: 400px;
    background-position: center;
}


    .four_zero_four_bg h1 {
        font-size: 80px;
    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1);
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1);
    }
}

.float {
    position: fixed;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    border-width: 2px;
}


.share-button, .copy-link {
    padding-left: 30px;
    padding-right: 30px;
}

.share-button, .share-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

    .share-dialog.is-open {
        display: block;
        z-index: 2;
    }

.center-dialog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.menu-bg {
    background: linear-gradient(117deg, #f7ecb5, #8a6b3d, #ca8f37);
    background-size: 600% 600%;
    -webkit-animation: menubg 9s ease infinite;
    -moz-animation: menubg 9s ease infinite;
    animation: menubg 9s ease infinite;
}

@-webkit-keyframes menubg {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes menubg {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes menubg {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}
.bg-success-ani {
    background: linear-gradient(117deg, #c1e2b3, #3c763d, #014102, #67ff00);
    background-size: 800% 800%;
    -webkit-animation: bg-success-animation 15s ease infinite;
    -moz-animation: bg-success-animation 15s ease infinite;
    animation: bg-success-animation 15s ease infinite;
}

@-webkit-keyframes bg-success-animation {
    0% {
        background-position: 0% 53%
    }

    50% {
        background-position: 100% 48%
    }

    100% {
        background-position: 0% 53%
    }
}

@-moz-keyframes bg-success-animation {
    0% {
        background-position: 0% 53%
    }

    50% {
        background-position: 100% 48%
    }

    100% {
        background-position: 0% 53%
    }
}

@keyframes bg-success-animation {
    0% {
        background-position: 0% 53%
    }

    50% {
        background-position: 100% 48%
    }

    100% {
        background-position: 0% 53%
    }
}

.bg-warning-ani {
    background: linear-gradient(117deg, #f7ecb5, #8a6d3b, #704a07, #d58a04);
    background-size: 800% 800%;
    -webkit-animation: bg-warning-animation 15s ease infinite;
    -moz-animation: bg-warning-animation 15s ease infinite;
    animation: bg-warning-animation 15s ease infinite;
}

@-webkit-keyframes bg-warning-animation {
    0% {
        background-position: 0% 53%
    }

    50% {
        background-position: 100% 48%
    }

    100% {
        background-position: 0% 53%
    }
}

@-moz-keyframes bg-warning-animation {
    0% {
        background-position: 0% 53%
    }

    50% {
        background-position: 100% 48%
    }

    100% {
        background-position: 0% 53%
    }
}

@keyframes bg-warning-animation {
    0% {
        background-position: 0% 53%
    }

    50% {
        background-position: 100% 48%
    }

    100% {
        background-position: 0% 53%
    }
}

.bg-danger-ani {
    background: linear-gradient(117deg, #e4b9b9, #a94442, #650c0a, #ee0d08);
    background-size: 800% 800%;
    -webkit-animation: bg-danger-animation 15s ease infinite;
    -moz-animation: bg-danger-animation 15s ease infinite;
    animation: bg-danger-animation 15s ease infinite;
}

@-webkit-keyframes bg-danger-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes bg-danger-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes bg-danger-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.bg-multi-ani {
    background: linear-gradient(117deg, #c1e2b3, #3c763d, #014102, #67ff00,#f7ecb5, #8a6d3b, #704a07, #d58a04,#e4b9b9, #a94442, #650c0a, #ee0d08);
    background-size: 1400% 1400%;
    -webkit-animation: bg-multi 15s ease infinite;
    -moz-animation: bg-multi 15s ease infinite;
    animation: bg-multi 15s ease infinite;
}

@-webkit-keyframes bg-multi {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes bg-multi {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes bg-multi {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.floating-ani {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from {
        -webkit-transform: translate(0, 0px);
    }

    65% {
        -webkit-transform: translate(0, 30px);
    }

    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating {
    from {
        -moz-transform: translate(0, 0px);
    }

    65% {
        -moz-transform: translate(0, 25px);
    }

    to {
        -moz-transform: translate(0, -0px);
    }
}

img {
    max-width: 100%;
}

.slider-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

    .menu label {
        cursor: pointer;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50px;
        margin: 0 .2em 1em;
    }

        .menu label:hover {
            background: red;
        }

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide-1 {
    background-image: url(../img/img_bg_1.jpg);
}

.slide-2 {
    background-image: url(../img/img_bg_2.jpg);
}

.slide-3 {
    background-image: url(../img/img_bg_3.jpg);
}
