.AdContent {
    height: 200px;
    background-color: white;
}


@media only screen and (max-width: 500px) {
    .AdContent{
        height:75px;
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

    .scrolling-wrapper .scrolling-card {
        display: inline-block;
    }

.scrolling-wrapper-flexbox {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

    .scrolling-wrapper-flexbox .scrolling-card {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

.scrolling-card {
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

    .scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
        display: none;
    }

.toIWapper {
    padding: 0px;
    width: 100%;
    transition: 0.5s;
    display: block;
    background-color: white;
}

.insOrTeacherImg {
    background-color: white;
    /* padding: 28px; */
    /* margin: -10px; */
    /* border-radius: 5px 5px 0px 0px; */
    height: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 215px;
    float: left;
    border-radius: 3px;
}

.name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 6px;
    color: #696969;
    padding-bottom: 10px;
    margin-left: 235px;
}

.stream {
    text-align: left;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 6px;
    color: #e91e63;
    margin-left: 230px;
}

.more-details {
    text-align: left;
    padding: 6px;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

    .more-details a {
        color: #ffffff;
        background-color: #40404094;
        padding: 4px;
        border-radius: 3px;
        padding-left: 6px;
        padding-right: 9px;
        display: inline-block;
        margin-bottom: 4px;
        font-size: 12px;
    }

.insOrTeacherImg:hover {
    cursor: pointer;
}


@media only screen and (max-width: 500px) {

    .name {
        font-size: 12px;
        padding-bottom: 5px !important;
        margin-left: 150px;
    }

    .stream {
        font-size: 10px;
        margin-left: 144px;
    }


    .insOrTeacherImg {
        width: 135px;
        height: 98px;
        border-radius: 5px 5px 0px 0px;
    }

    .more-details {
        border-radius: 0px 0px 5px 5px;
    }
}
.toIWapper:hover {
    cursor: pointer;
}
