body::-webkit-scrollbar {
    width: 0rem;
}
div::-webkit-scrollbar {
    width: 0rem;
}
/*body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}*/


/* Appearance */
.links {
    background-color: #123;
    background-image: linear-gradient(to bottom, #0003, transparent);
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 1em;
    font-weight: 300;
}

    .links > a {
        color: #9ab;
        padding: .75em;
        text-align: center;
        text-decoration: none;
        transition: all .5s;
    }

        .links > a:hover {
            background: #ffffff06;
            color: #adf;
        }

    .links > .line {
        background: #68a;
        height: 1px;
        pointer-events: none;
    }

/* The Magic */
#header {
    position: fixed;
    width: 100%;
}

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

    .links > .line {
        opacity: 0;
        transition: all .5s;
        position: absolute;
        bottom: 0;
        left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
        width: var(--width, calc(100% / var(--items)));
        --index: 0;
    }

    .links > a:hover ~ .line {
        opacity: 1;
    }

    .links > a:nth-of-type(1):hover ~ .line {
        --index: 1;
    }

    .links > a:nth-of-type(2):hover ~ .line {
        --index: 2;
    }

    .links > a:nth-of-type(3):hover ~ .line {
        --index: 3;
    }

    .links > a:nth-of-type(4):hover ~ .line {
        --index: 4;
    }

    .links > a:nth-of-type(5):hover ~ .line {
        --index: 5;
    }

    .links > a:nth-of-type(6):hover ~ .line {
        --index: 6;
    }

    .links > a:nth-of-type(7):hover ~ .line {
        --index: 7;
    }

    .links > a:nth-of-type(8):hover ~ .line {
        --index: 8;
    }

    .links > a:nth-of-type(9):hover ~ .line {
        --index: 9;
    }

    .links > a:nth-of-type(10):hover ~ .line {
        --index: 10;
    }

    .links > a:last-of-type:hover ~ .line {
        --index: var(--items);
    }

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}


.sidebar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .175);
}

    .sidebar .top-row {
    }

    .sidebar .navbar-brand {
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.8rem;
        padding-right: 0.5rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 1.7rem;
        margin-left: 2.0rem;
        margin-right: 2.0rem;
        padding: 8px;
        margin-bottom: 5px;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(4, 143, 139, 0.50);
                color: black;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(4, 143, 139, 0.90);
                color: black;
            }


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 1999.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row {
        margin-left: 0;
    }

    .sidebar .navbar-brand {
        max-width: 80%;
    }

    .sidebar {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 100%;
        height: 100%;
        position: sticky;
        top: 0;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.Cannotselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Bottom-menu {
    padding: 10px;
    background-color: white;
    border-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-color: #CFCFCF;
    border-left-color: #CFCFCF;
    border-right-color: #CFCFCF;
}

.Bordered-Box {
    padding: 10px;
    border: 1px solid  #eee;
    border-style: solid;
    border-radius: 5px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.Bordered-Box-Section {
    padding: -10px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 0px;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.Bordered-Box-no-padding {
    border: 1px solid  #eee;
    border-style: solid;
    border-radius: 5px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.Bordered-Box-Section-no-padding {
    border-style: solid;
    border-radius: 0px;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.fill {
    width: 100%;
    height: 100%;
}

/*.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 99;
}

.my-float {
    font-size: 40px;
    margin: 10px;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
    visibility: visible;
    opacity: 1;
}*/

.buttonInside {
    position: relative;
}

    .buttonInside button {
        position: absolute;
        right: 1px;
        top: 6px;
        border: none;
        height: 20px;
        width: 20px;
        outline: none;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        padding: 2px;
    }

.form-control-sm {
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .form-control-sm:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-control-sm::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .form-control-sm:-ms-input-placeholder {
        color: #999;
    }

    .form-control-sm::-webkit-input-placeholder {
        color: #999;
    }

    .form-control-sm[disabled], .form-control-sm[readonly], fieldset[disabled] .form-control-sm {
        background-color: #eeeeee;
        opacity: 1;
    }

    .form-control-sm[disabled], fieldset[disabled] .form-control-sm {
        cursor: not-allowed;
    }

.MenuCard {
    margin-top: 15px;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

    .MenuCard .fa {
        position: relative;
        font-size: 70px;
    }

.MenuCard-topimage_header {
    padding: 20px;
}

a.MenuCard:hover, .MenuCard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}

.MenuCard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.MenuCard-topimage_title {
    padding: 20px 24px;
    padding-bottom: 5px;
}

.MenuCard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.MainContainer {
    margin-left: -15px;
    margin-right: -15px;
}

    .MainContainer:before, .MainContainer:after {
        content: " ";
        display: table;
    }

    .MainContainer:after {
        clear: both;
    }

.SideBarContainer {
    position: relative;
    height: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 15px;
}

.DataContainer {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    .SideBarContainer, .DataContainer {
        float: left;
    }

    .SideBarContainer {
        width: 16.66667%;
    }

    .DataContainer {
        width: 83.33333%;
        padding-left: 0px;
    }
}

@media (max-width: 1999.98px) {
    .SideBarContainer {
        padding-right: 15px;
    }

    .DataContainer {
        padding-right: 0px;
    }
}





.dropdown, .dropleft, .dropright, .dropup {
    position: relative
}

.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-toggle:empty:after {
    margin-left: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: .125rem
}

.dropup .dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent
}

.dropup .dropdown-toggle:empty:after {
    margin-left: 0
}

.dropright .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: .125rem
}

.dropright .dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid
}

.dropright .dropdown-toggle:empty:after {
    margin-left: 0
}

.dropright .dropdown-toggle:after {
    vertical-align: 0
}

.dropleft .dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: .125rem
}

.dropleft .dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    display: none
}

.dropleft .dropdown-toggle:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid;
    border-bottom: .3em solid transparent
}

.dropleft .dropdown-toggle:empty:after {
    margin-left: 0
}

.dropleft .dropdown-toggle:before {
    vertical-align: 0
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

    .dropdown-item:focus, .dropdown-item:hover {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #0ea0ff
    }

    .dropdown-item.disabled, .dropdown-item:disabled {
        color: #6c757d;
        background-color: transparent
    }

.dropdown-menu.show {
    display: block
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap
}

.dropdown-item-text {
    display: block;
    padding: .25rem 1.5rem;
    color: #212529
}



.btn-icon-clipboard {
    font-family: inherit;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
    display: inline-block;
    width: 100%;
    margin: 0;
    margin: .5rem 0;
    padding: 14px 24px;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    color: #393f49;
    border: 0 none;
    border-radius: 4px;
    background-color: #f8f9fa;
    -moz-appearance: none
}

    .btn-icon-clipboard:hover {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, .1) 0 0 0 1px, rgba(0, 0, 0, .1) 0 4px 16px
    }

    .btn-icon-clipboard > div {
        display: flex;
        align-items: center
    }

    .btn-icon-clipboard i {
        font-size: 2.2rem;
        box-sizing: content-box;
        vertical-align: middle;
        color: #393f49
    }

    .btn-icon-clipboard span {
        font-size: 1.5rem;
        line-height: 1.5;
        display: inline-block;
        overflow: hidden;
        margin-left: 16px;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #393f49
    }

.btnIcon {
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
}

    .btnIcon:hover {
        background-color: RoyalBlue;
    }

.hideDiv {
min-height:50px;
}

.hiddenDiv {
    display: none
}

.hideDiv:hover .hiddenDiv {
    display: block
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 9;
    width:300px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.loadImg {
    width: 70vh;
    height: 70vh;
}

@media (max-width: 600px) {
    .loadImg {
        width: 100vw;
        height: 100vw;
    }
}